.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Desconta o topo da barra de pesquisa */
  min-height: calc(100vh - 140px); 
  width: 100%;
  
  color: #ffffff;
}

.loading-container p {
    font-size: 2rem;
    font-weight: 500;
}

/* Exemplo de um spinner de carregamento clássico em CSS */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-top-color: #e31b23; /* Vermelho do Last.fm! */
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}